body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
}


/* Your code goes here */

body {
    background-color: #f4f4f4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
}

section {
    background-color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.button__read-more {
    width: 200px;
    height: 52px;
    color: white;
    font-weight: bold;
    background-color: #019999;
}


/* ----------HERO---------- */

.hero {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 30px;
}

.card {
    width: 600px;
    height: 400px;
}

.card__head {
    background-color: #76cdd8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
}

.card__text-italic {
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 92px 68px;
    color: #666666;
}

.card__third {
    padding: 82px 68px;
}

.card__third h3 {
    color: #76cdd8;
    margin-bottom: 40px;
}

.card__third p {
    color: #666666;
    margin-bottom: 34px;
}

.card__third .button__read-more {
    margin-left: 278px;
}

.card__circle {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: #76cdd8;
}

.circle-img {
    margin-top: 48px;
    margin-bottom: 32px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.card__payment-img img {
    width: 100%;
    height: 100%;
}


/* ------------- */

.card__payment-img:hover {
    transform: scale(1.1);
}

.card__last {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__last h3 {
    margin-bottom: 24px;
}

.card__last p {
    margin-bottom: 20px;
}

.card__last p,
h3 {
    max-width: 450px;
    color: #666666;
}

.card__last a {
    text-decoration: none;
}


/* ---------SECOND----------- */

.second_section {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.second_section__text-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.second_section__text-area h4 {
    margin-top: 70px;
    margin-bottom: 32px;
    margin-left: 64px;
}

.second_section__text-area p {
    margin-bottom: 30px;
    margin-right: 84px;
    margin-left: 64px;
}

.second_section__text-area .button__read-more {
    margin-left: 506px;
}

.second_section__img-area img {
    max-width: 385px;
}


/* --------PRICES---------- */

.prices {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

.prices__img-area img {
    max-width: 400px;
}

.price-plan__head {
    color: white;
    background-color: #019999;
}

.price-plan__head h4 {
    padding: 34px 90px 0 90px;
}

.price-plan__head p {
    text-align: center;
    padding-top: 22px;
    padding-bottom: 26px;
}

.price-plan__text-area {
    border: 1px solid #019999;
    padding: 29px;
}

.price-plan__text-area p {
    margin-bottom: 26px;
    color: #666666;
}

.button {
    width: 182px;
    height: 52px;
    color: white;
    font-weight: bold;
    background-color: #019999;
    margin-left: 30px;
}

.price-plan__text-area div {
    display: none;
    text-align: center;
}

.price-plan__text-area div span {
    color: red;
}

.price-plan__text-area div p {
    color: #23d4d4;
}


/* ----------------- */

.price-plan:hover {
    border: 2px solid #23d4d4;
}

.price-plan:hover .price-plan__text-area .button {
    background-color: #24d4d4;
}

.advanced:hover .price-plan__text-area .hide {
    display: block;
}


/* -------FORM------- */

.forms {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.forms__left {
    display: flex;
    flex-direction: column;
}

.div__submit {
    display: flex;
    justify-content: center;
}

.button__submit {
    width: 164px;
    height: 54px;
    color: white;
    background-color: #019999;
    margin-bottom: 68px;
    margin-top: 42px;
}

.form_area {
    position: relative;
    z-index: 2;
    max-width: 882px;
    margin: 0 auto;
    background-color: white;
    margin-top: -70px;
    margin-bottom: -56px;
}

.form_head {
    position: relative;
    z-index: 1;
}

.form_head h4 {
    padding-top: 46px;
    padding-bottom: 90px;
    padding-left: 160px;
    background-color: #23d4d4;
    ;
    color: white;
}


/* ---------FOOTER--------- */

.contacts {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    background-color: #019999;
    padding-top: 104px;
    padding-bottom: 64px;
    color: white;
}

.contacts p {
    font-size: 14px;
}

.contacts h5 {
    margin-bottom: 14px;
}

.copyright {
    margin: 28px 0;
    color: #666666;
    text-align: center;
}